.problemTitle {
  box-sizing: inherit;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 2em;
  font-family: "Lato", "Noto Sans CJK SC", "Source Han Sans SC", "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei",
    "Droid Sans Fallback", sans-serif;
  line-height: 1.28571429em;
  text-transform: none;
}

.tag {
  display: inline-block;
  box-sizing: inherit;
  margin: 2px !important;
  padding: 0.5833em 0.833em;
  color: #fff;
  font-weight: 700;
  font-size: 0.85714286rem;
  font-family: "Lato", "Noto Sans CJK SC", "Source Han Sans SC", "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei",
    "Droid Sans Fallback", sans-serif;
  line-height: 1;
  text-transform: none;
  vertical-align: baseline;
  background-image: none;
  border: 0 solid transparent;
  border-radius: 0.28571429rem;
  transition: background 0.1s ease;

  &.time {
    background-color: #e03997;
    border-color: #e03997;
  }

  &.memory {
    background-color: #2185d0;
    border-color: #2185d0;
  }
}

.problemViewHeader {
  padding-bottom: 25px;

  .left {
    padding-bottom: 20px;
  }
}
