.panel-header {
  padding: 5px;
  border-bottom: 1px solid #3e90cc;
}

.panel-footer {
  padding: 5px;
  border-top: 1px solid #3e90cc;
}

.panel-body {
  padding: 5px;
}

.panel {
  border-radius: 0.28571429rem;
}

.diff-editor {
  padding: 5px;
  overflow: hidden;
  border: 1px solid #d4d4d5;
  border-radius: 6px;
}

:global {
  .ant-tabs-top > .ant-tabs-nav::before {
    padding-top: 4px;
    // border-bottom: 1px solid #f0f0f0;
    border-bottom: 1px solid #3e90cc;
  }

  .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
    padding-top: 4px;
    background: #fff;
    border: 0px;
    border-bottom: 1px solid #3e90cc;
  }

  .ant-tabs-content {
    margin-top: -10px;
  }

  .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
    border: 1px solid #3e90cc;
    // background: #fafafa;
    // border: 1px solid #f0f0f0;
  }
}

.upload {
  overflow-y: auto;
}

.preview {
  overflow: auto;
}
