.root {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding-top: 20px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 150px);
}

.username {
  box-sizing: inherit;
  margin-top: 14px !important;
  margin-bottom: 7px !important;
  font-weight: 600;
  font-size: 24px;
  font-family: "Lato", "Noto Sans CJK SC", "Source Han Sans SC", "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei",
    "Droid Sans Fallback", sans-serif;
  line-height: 1.4285em;
  -webkit-text-size-adjust: 100%;
}

@border-color: #3e90cc;

.border {
  border: 1px solid @border-color;
  border-radius: 0.28571429rem;
}

.dataView,
.subwayGraph {
  padding: 10px;
}

.subwayGraph {
  padding-top: 30px;
  padding-bottom: 0px;
}

.ratingGraph {
  padding-top: 15px;
  padding-bottom: 15px;
}

:global {
  .react-calendar-heatmap {
    margin-top: -15px;
    margin-bottom: -20px;
    margin-left: -8px;

    @media (min-width: 768px) {
      margin-bottom: -35px;
    }
  }
}

.subwayGraph-footer {
  margin-bottom: 10px;
}

.subwayGraph-square {
  --scroll-bar: 0;
  box-sizing: border-box;
  width: 10px;
  height: 10px;

  &.color-github-0 {
    background-color: #eeeeee;
  }

  &.color-github-1 {
    background-color: #d6e685;
  }

  &.color-github-2 {
    background-color: #8cc665;
  }

  &.color-github-3 {
    background-color: #44a340;
  }

  &.color-github-4 {
    background-color: #1e6823;
  }
}
