@border-color: rgba(34, 36, 38, 0.15);

.codeBox {
  position: relative;
  box-sizing: inherit;
  margin: 1rem 0;
  padding: 0 !important;
  overflow: hidden;
  color: inherit !important;
  font-family: inherit;
  line-height: 1.4285em;
  // font-size: 1rem;
  // font-size: 14px;
  background: inherit !important;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-color: @border-color!important;
  border-right-color: @border-color!important;
  border-bottom-color: @border-color!important;
  border-left-color: @border-color!important;
  border-radius: 0.28571429rem;
  box-shadow: 0 1px 2px 0 var(--theme-shadow);
  -webkit-text-size-adjust: 100%;
}

.markdownContent {
  position: relative;
  overflow: hidden;
  font-size: 15px;
  transform: translate3d(0, 0, 0);

  :global {
    .inline {
      font-size: 16px !important;
    }
    .block {
      font-size: 18px !important;
    }
  }

  // Fix box-shadow get cut
  &:not(.noOverflowCutFix) {
    margin: -2px;
    padding: 2px;
  }

  p,
  blockquote,
  mjx-container[display="true"] {
    overflow: auto;
    overflow-y: hidden;
  }

  blockquote {
    margin: 1em 0;
    padding: 0 0 0 1em;
    color: var(--theme-blockquote-foreground);
    border-left: 0.25em solid var(--theme-blockquote-side);
  }

  ul,
  ol,
  blockquote,
  mjx-container[display="true"] {
    &:first-child {
      margin-top: 0 !important;
    }

    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  // Center align images
  p > img:only-child {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  // Normal lists
  ul,
  ol {
    padding-left: 2em;

    ul,
    ol {
      padding-left: 1.5em;
    }
  }

  // Task lists
  :global(.contains-task-list) {
    &,
    ul,
    ol {
      padding-left: 21px;
    }

    li {
      margin-top: 6px;

      &:global(.task-list-item) {
        margin-left: -18.5px;
        list-style-type: none;
      }

      &:not(:global(.task-list-item)) {
        padding-left: 5.5px;
      }
    }

    .taskListCheckbox > label:first-of-type + div {
      padding-left: 24px;
    }
  }
}
