.root {
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 10px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 180px);
}
