.root {
  max-width: 1180px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  // border: 5px solid red;
}

.secondRoot {
  padding: 0 10px;
}

.main {
  padding-bottom: 66px;
  min-height: calc(100vh - 50px);
  height: 100%;
}

.h-header {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  max-width: 1180px;
  // forbid set height
  // height: 50px;
}
